@import "tailwindcss";

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/container-queries";

@theme {
  --color-tertiary-fixed-dim: #c8c6c6;
  --color-inverse-surface: #2c322b;
  --color-background: #ffffff;
  --color-on-primary-fixed-variant: #7a5200;
  --color-surface-container: #e9f0e6;
  --color-on-error: #ffffff;
  --color-safety-white: #ffffff;
  --color-primary-fixed: #f7a61c;
  --color-on-background: #171d17;
  --color-on-secondary-container: #fffbff;
  --color-surface-container-low: #eff6eb;
  --color-on-tertiary: #ffffff;
  --color-error-container: #ffdad6;
  --color-surface-dim: #d5dcd2;
  --color-surface-subtle: #ffffff;
  --color-on-secondary: #ffffff;
  --color-surface-container-lowest: #ffffff;
  --color-on-primary-fixed: #1a1200;
  --color-on-error-container: #93000a;
  --color-surface-container-highest: #dee4da;
  --color-on-tertiary-fixed-variant: #474747;
  --color-outline-variant: #bdcabb;
  --color-carbon-gray: #333333;
  --color-outline: #6e7a6d;
  --color-on-surface: #171d17;
  --color-surface-variant: #dee4da;
  --color-secondary: #bb0013;
  --color-on-tertiary-container: #fffcfb;
  --color-tertiary-container: #757474;
  --color-inverse-primary: #f7a61c;
  --color-performance-red: #ed1c24;
  --color-surface-bright: #ffffff;
  --color-secondary-container: #e71520;
  --color-on-surface-variant: #3e4a3e;
  --color-secondary-fixed: #ffdad6;
  --color-on-primary-container: #f7fff3;
  --color-tertiary-fixed: #e4e2e1;
  --color-on-secondary-fixed-variant: #93000d;
  --color-industrial-green: #f7a61c;
  --color-error: #ba1a1a;
  --color-on-primary: #ffffff;
  --color-primary: #f7a61c;
  --color-surface: #ffffff;
  --color-on-tertiary-fixed: #1b1c1c;
  --color-border-muted: #d1d5db;
  --color-surface-container-high: #e3eae0;
  --color-inverse-on-surface: #ecf3e8;
  --color-surface-tint: #f7a61c;
  --color-tertiary: #5c5c5c;
  --color-secondary-fixed-dim: #ffb4ab;
  --color-on-secondary-fixed: #410002;
  --color-primary-container: #f7a61c;
  --radius-lg: 0.25rem;
  --radius-xl: 0.5rem;
  --radius-full: 0.75rem;

  --spacing-container-max: 1280px;
  --spacing-base: 8px;
  --spacing-gutter: 24px;
  --spacing-section-gap: 80px;
  --spacing-margin-mobile: 16px;
  --spacing-component-gap: 24px;
  --spacing-margin-desktop: 40px;

  --font-table-data: "Inter", sans-serif;
  --font-headline-md: "Hanken Grotesk", sans-serif;
  --font-headline-lg: "Hanken Grotesk", sans-serif;
  --font-body-sm: "Inter", sans-serif;
  --font-body-lg: "Inter", sans-serif;
  --font-label-bold: "Inter", sans-serif;
  --font-headline-lg-mobile: "Hanken Grotesk", sans-serif;
  --font-display-lg: "Hanken Grotesk", sans-serif;
  --font-body-md: "Inter", sans-serif;

  --text-table-data: 13px;
  --text-headline-md: 24px;
  --text-headline-lg: 32px;
  --text-body-sm: 14px;
  --text-body-lg: 18px;
  --text-label-bold: 14px;
  --text-headline-lg-mobile: 28px;
  --text-display-lg: 48px;
  --text-body-md: 16px;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-body-md);
    overflow-x: hidden;
  }

  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
    font-family: "Material Symbols Outlined";
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
  }
}

@layer utilities {
  .text-shadow-sm {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  .clip-slant {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  }

  .timeline-line::after {
    content: "";
    position: absolute;
    width: 2px;
    background-color: #d1d5db;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (max-width: 768px) {
    .timeline-line::after {
      left: 20px;
    }
  }
}
